@font-face {
	font-family: OpenSansRegular;
	src: url(Fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSansLight;
	src: url(Fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSansRegular;
	src: url(Fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSansExtraBold;
	src: url(Fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
	font-family: Lane;
	src: url(Fonts/Lane.ttf);
}
@font-face {
	font-family: DistrictLanePro;
	src: url(Fonts/DistrictThinPro.otf);
}
@font-face {
	font-family: FiraSansLight;
	src: url(Fonts/FiraSans-UltraLight.ttf);
}
@font-face {	
	font-family: LatoHair;
	src: url(Fonts/Lato-Hair.ttf);
}
@font-face {	
	font-family: RobotoLight;
	src: url(Fonts/Roboto-Light.ttf);
}
@font-face {	
	font-family: RobotoThin;
	src: url(Fonts/Roboto-Thin.ttf);
}
html, body {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	background-color: none;
	position: absolute;
	right: 0;
	height: 100%;
	width: calc(100% - 110px);
}

#header {
	width: 110px;
	height: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
}
#links {
	padding-top: 50px;
	text-align: center;
    text-transform: uppercase;
    height: auto;
}

#links li {
	display: inline-block;
	opacity:0.6; 
	font-size: 18px; 
	font-family: OpenSansLight;
	padding-bottom: 25px;
    text-align: left;
    text-align: center;
}
#links a {
	text-decoration: none;
	padding-bottom: 120px;
	color: white;
}
#links a.active { 
	color: #f99926; 
	opacity:1; 
}

#links a:hover { 
	color: #f99926; 
	opacity: 1;  
	cursor: pointer;
}
#icons {
	position: relative;
	height: 20%;
	padding: 10px;
	text-align: center;
}

.social_icon {
	display: block;
	position: relative;
  	top: 30%;
}
.social_icon img{
	height:auto; 
	width:auto; 
	max-width: 35px; 
	max-height: 35px;
	border-radius: 100px;
	margin-top: 10px;
}

#copyright {
	width: auto;
	height: 10%;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
}
#copyright p {
	font-family: OpenSansLight;
	font-size: 10px;
	color: white;
}

#homepage {
	background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
	height: 100%;
	width: 100%;
	background-color: white;
}
.home-container {
	background-image: url("images/headshot-circle.png");
	background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 850px;
    width: 100%;
    padding-right: 100px;
}
.hsContainer {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}
.hsContent {
	width: 100%;
	height: 100%;
	margin-top: 30%;
	margin-left: 5%;
}

#name {
	color: black;
   	position: absolute;
   	top: 30%;
   	left: 5%;
	margin: 0 auto;
	height: 100%;
}
#name h3 {
	color: black;
	text-align: center;
	font-family: LatoHair;
    margin: 0 auto;
	font-size: 120px;
}

#name h1 {
	color: black;
	text-align: center;
	font-family: LatoHair;
	font-size: 120px;
    margin: 0 auto;
}
#transparent-about {
/*	background-color: white;
*/	height: 800px;
	width: 100%;
}
#transparent {
	color: black;
   	position: absolute;
   	top: 20%;
   	left: 5%;
	margin: 0 auto;
	width: 40%;
	height: 100%;
	clear: right;
}
#transparent-about h3{
	font-family: LatoHair;
	font-size: 40px;
	color: #f99926;
	text-align: center;
}
#transparent-about p {
	color: #606060;
	font-family: OpenSansLight;
	font-size: 20px;
	text-align: center;
}
.sectional-container h1 {
	font-family: Lato;
	font-size: 60px;
	text-align: center;
	color: #f99926;
	margin: 0;
}
#about {
	height: auto;
	width: 100%;
	text-align: center;
	background-color: white;
	padding-bottom: 50px;
}

#projects{
	background-color: white;
	height: auto;
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}
#projects h1 {
	margin-bottom: 50px;
}
#projects-container {
	background-color: white;
    height: 100%;
    width: 80%;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.project-buttons-container {
	margin-bottom: 50px;
	padding-top: 50px;
}
.project-buttons button{
	margin-right: 10px;
	margin-left: 10px;
	padding: 15px;
	width: 150px;
	border: none;
	background-color: white;
	color: black;
}
#All-button {
	border-bottom: 3px solid #f99926;
}
#All-button:focus {
  	outline: none;
}
#Development-button:focus {
  	outline: none;
}
#Design-button:focus {
  	outline: none;
}
#Research-button:focus {
  	outline: none;
}
.project-type {
	height: 100%;
    width: 100%;
   	margin: 0,0,0,0;
}
.project-type a {
	height: 100%;
	width: 100%;
	margin: 0,0,0,0;
}
.project-boxes {
	height: 250px;
	width: 300px;
	display: inline-block;
	vertical-align: top;
    position:relative;
    overflow:hidden;
   	background-size: cover;
	background-position: center center;
	margin-right: -5px;
}
.project-boxes h3 {
	font-family: Lato;
	font-size: 16px;
	color: white;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 60%;
}
.view {
	font-size: 13px;
	color: #f99926;
	height: 250px;
	width: 300px;
}

.project-boxes h3:hover {
	background: rgba(0,0,0,0.9);
	opacity: 1;
}
#enactus {
	background-image: url("images/enactus-homepage.png");
}
#actnet {
	background-image: url("images/actnet-homepage.png");
}
#termproject {
	background-image: url("images/112-termproject-homepage.png");
}
#avantegarde {
	background-image: url("images/avantegarde-homepage.png");
}
#magazine {
	background-image: url("images/unbounded-homepage.png");
}
#airbnb {
	background-image: url("images/airbnb-homepage.png");
}
#hci-research {
	background-image: url("images/ideagens-homepage.png")
}

#work-experience{
	background-color: white;
	height: auto;
	width: 100%;
	text-align: center;
}
#experience-container {
	background-color: white;
    height: 100%;
    width: 80%;
    border-top: 2px solid #c0c0c0;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 50px;
	padding-bottom: 50px;
}
#experience-container h1 {
	padding-bottom: 50px;
}
#cisco {
	background-image: url("images/cisco-homepage.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 30px;
}
#ooyala {
	background-image: url("images/ooyala-homepage.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 30px;
}
.work-date {
	font-size: 13px;
}
#contact{
	background-color: white;
	height: 500px;
	width: 100%;
	text-align: center;
}

#contact-container {
	background-color: white;
    height: 400px;
    width: 80%;
    border-top: 2px solid #c0c0c0;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    border-bottom: none;
    padding-top: 50px;
	padding-bottom: 50px;
}
#contact-header {
	padding-bottom: 50px;
}
.contact-info {
	display: inline-block;
	vertical-align: top;
	display: inline-block;
	height: auto;
	text-align: center;
}
.contact-info h1 {
	font-family: Lato;
	font-size: 25px;
	color: black;
	margin-bottom: 50px;
}
.contact-info a {
	font-family: Lato;
	font-size: 40px;
	text-decoration: none;
}
