/* CSS RESET!! 

    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************************
***************CUSTOM CODE********************
**********************************************/

html, body {
	overflow-x: hidden;
}


body {
	margin: 0;
	padding: 0;
	background-color: rgba(18,22,30, 1);
    background-color: white;
	right: 0;
	height: 100%;
	width: 100%;
	font-size: 100%;
    font-family: 'Lato', sans-serif;
}

.clear {
    clear: both;
}

#above-fold {
    height: 100vh;
    width: 100%;
}
#left-side {
    width: 49%;
    height: 100%;
    float: left;
    position: relative;
}
#name {
    position: absolute;
    top: 0;
	margin: 0 auto;
    height: 100%;
	width: 100%;
}
#name h1 {
	color: rgba(250,250,250,0.6);
    color: rgba(18,22,30, 1);
	text-align: right;
	font-weight: 100;
	font-size: 5em;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#name p {
    background-color: #f99926;
    color: rgba(250,250,250,0.6);
    color: white;
	text-align: right;
	font-weight: 200;
	font-size: 1.2em;
    line-height: 1.2em;
    position: absolute;
    top: 45%;
    left: 0;
    padding-top: 0.6em;
    padding-left: 9em;
    padding-right: 0.6em;
    padding-bottom: 0.6em;
}
#links {
	text-align: right;
    text-transform: uppercase;
    height: auto;
    position: absolute;
    top: 60%;
    right: 0;
    padding-top: 0.6em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    padding-bottom: 0.6em;
}

#links li {
	display: inline-block;
	font-size: 1.2em; 
    text-align: center;
    color: #f99926;
    color: #292929;
}
#links a {
	text-decoration: none;
	color: #f99926;
    color: #292929;
    font-weight: 300;
	opacity:0.6;
    transition: 0.3s linear all;
}

#links a:hover { 
	color: #f99926; 
	opacity: 1;  
	cursor: pointer;
    transition: 0.3s linear all;
}
#social {
    float: right;
    width: 49%;
    height: 100%;
    position: relative;
}
#icons {
	text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 47%;
	margin: 0 auto;
}
.social_icon {
	display: inline-block;
	position: relative;
  	top: 30%;
  	padding-left: 0.625em;
	padding-right: 0.625em;
}
.social_icon img{
	max-width: 2em; 
	max-height: 2em;
    opacity: 0.6;
    transition: 0.3s linear all;
}
.social_icon img:hover{
    opacity: 1;
    transition: 0.3s linear all;
}
.down-arrow {
    width: 5em;
    height: 5em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.down-arrow img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
#projects{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: 30;
    padding-bottom: 10em;
}
#projects-container {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
.project-buttons-container {
	padding-top: 50px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
}
.project-buttons button{
	margin-right: 10px;
	margin-left: 10px;
	padding: 15px;
	width: 150px;
	border: none;
	background-color: transparent;
	color: rgba(250,250,250,0.8);
    color: black;
    font-weight: 300;
	font-size: 1em;
}
#All-button {
	border-bottom: 3px solid #f99926;
}
#All-button:focus {
  	outline: none;
}
#Development-button:focus {
  	outline: none;
}
#Design-button:focus {
  	outline: none;
}
#Research-button:focus {
  	outline: none;
}
.project-type {
	height: auto;
    width: 100%;
   	margin: 0 auto;
}
.project-boxes {
	height: 250px;
	width: 300px;
	display: inline-block;
	vertical-align: top;
    margin: 0.5em;
    position: relative;
    overflow:hidden;
   	background-size: cover;
	background-position: center center;
    border-radius: 4px;
}
.project-boxes .view {
	font-size: 0.8em;
	color: #f99926;
	height: 250px;
	width: 300px;
}

.project-boxes a h3 {
	font-weight: 100;
	font-size: 1em;
	color: white;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 60%;
    transition: 0.5s linear all;
    border-radius: 4px;
}

.project-boxes h3:hover {
	background: rgba(0,0,0,0.95);
    border-radius: 4px;
	opacity: 1;
    transition: 0.1s linear all;
}
.nonhover-project-description {
    display: none;
}
#enactus {
	background-image: url("images/enactus-homepage.png");
}
#actnet {
	background-image: url("images/actnet-homepage.png");
}
#termproject {
	background-image: url("images/112-termproject-homepage.png");
}
#magazine {
	background-image: url("images/unbounded-homepage.png");
}
#hci-research {
	background-image: url("images/ideagens-homepage.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#cisco {
	background-image: url("images/cisco-homepage.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#ooyala {
	background-image: url("images/ooyala-homepage.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#IxDS-control-redesign {
    background-image: url("images/control-redesign-homepage.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#fbi-redesign {
    background-image: url("images/fbi-redesign-homepage.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#dashboardDesign {
    background-image: url("images/Dashboard_dragonfly.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#foodle {
    background-image: url("images/Foodle1.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#DesigningForFocus {
    background-image: url("images/DesigningForFocus_icon.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#LeakDetector {
    background-image: url("images/LeakDetector_icon.png");
	background-size: fill;
	background-repeat: no-repeat;
}

.work-date {
	font-size: 0.8em;
}
#copyright {
	width: auto;
	height: 10%;
	text-align: center;
	padding-top: 3.125em;
    position: relative;
    bottom: 1em;
}
#copyright p {
	font-weight: 300;	
	font-size: 0.8em;
	color: #f99926;
    color: black;
}

/*TABLET SIZE DESKTOP*/
@media screen and (max-width: 768px) {
	body { 
		font-size: 100%;
        width: 100%;
	}
    #left-side {
        width: 75%;
    }
    #links {
        top: 60%;
    }
    #social {
        position: absolute;
        top: 80%;
        left: 0;
        float: none;
        width: 75%;
        height: auto;
    }
    #icons {
        text-align: right;
    }
	.social_icon img {
		max-width: 3em;
		max-height: 3em;
	}
	.project-buttons-container {
		display: none;
	}
    #projects {
        height: 100%;
        width: 100%;
    }
    #projects-container {
        width: 100%;
        height: 100%;
    }
    .project-boxes {
        width: 45%;
        max-height: 45%;
        display: inline-block;
    }
    #placeholder {
        display: inline-block;
    }
    footer {
        position: relative;
        top: 50%;
    }
    #copyright {
        position: relative;
        top: 1em;
    }
	#copyright p {
		color: #f99926;
		font-size: 1em;
	}
}

/*PHONE SIZE DESKTOP */
@media screen and (max-width: 500px) {
	body { 
		font-size: 90%;
	}
    #left-side {
        width: 90%;
    }
    #name h1 {
        font-size: 4em;
    }
    #name p {
        padding-left: 3em;
    }
    #social {
        width: 90%;
    }
    #projects-container {
        width: 80%;
    }
    .project-boxes {
        width: 100%;
        max-height: 45%;
        display: inline-block;
    }
    #placeholder {
        display: none;
    }
    #copyright {
        position: absolute;
        top: 70em;
        left: 0;
        right: 0;
    }
}

/*TABLET DEVICE OPTIMIZE*/
@media only screen 
and (min-device-width : 700px) 
and (max-device-width : 1300px)
and (orientation: landscape) {
	body { 
		font-size: 100%;
        height: 100%;
	}
    #left-side {
        width: 55%;
    }
    #links {
        top: 60%;
    }
    #name h1 {
        font-size: 5em;
    }
    #name p {
        color: white;
        padding-left: 3em;
        font-weight: 300;
    }
    #social {
        position: absolute;
        top: 30%;
        left: 0;
        float: none;
        width: 75%;
    }
    #icons {
        text-align: right;
    }
    #social {
        width: 90%;
        height: 10em;
        top: 37%;
    }
    #icons {
        display: inline;
    }
    #projects-container {
        width: 80%;
    }
    .project-boxes {
        width: 20em;
        height: 20em;
        display: inline-block;
    }
    .project-boxes h3:hover {
        background: transparent;
        opacity: 0;
    }
    .nonhover-project-description {
/*        display: inline;*/
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
    }
    .nonhover-project-description h3 {
        font-size: 1.3em;
        font-weight: 400;
        color: white;
        height: 100px;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
    .nonhover-project-description .view {
        font-size: 0.9em;
        font-weight: 300;
    }
    #placeholder {
        display: none;
    }
    #copyright {
        position: relative;
        left: 0;
        right: 0;
        bottom: 1em;
    }
    #copyright p {
        color: black;
    }
}

@media only screen 
and (min-device-width : 700px) 
and (max-device-width : 1300px)
and (orientation: portrait) {
    body { 
		font-size: 130%;
        height: 100%;
	}
    #left-side {
        width: 75%;
    }
    #links {
        top: 55%;
    }
    #name h1 {
        font-size: 5em;
    }
    #name p {
        color: white;
        padding-left: 3em;
        font-weight: 300;
    }
    #social {
        position: absolute;
        top: 30%;
        left: 0;
        float: none;
        width: 75%;
    }
    #social {
        width: 100%;
        height: 11em;
        top: 60%;
    }
    #icons {
        display: inline;
        text-align: center;
    }
    #projects-container {
        width: 85%;
    }
    .project-boxes {
        width: 18em;
        height: 18em;
        display: inline-block;
    }
}

/*PHONE DEVICE OPTIMIZE */
@media only screen and (max-device-width: 500px) {
	body { 
		font-size: 200%;
	}
    #left-side {
        width: 90%;
    }
    #name h1 {
        font-size: 4em;
        position: absolute;
        top: 25%;
    }
    #name p {
        color: black;
        padding-left: 3em;
        font-weight: 300;
        position: absolute;
        top: 35%;
    }
    #links {
        position: absolute;
        top: 50%;
    }
    #social {
        position: absolute;
        top: 60%;
        left: 0;
        float: none;
        width: 75%;
    }
    #social {
        width: 100%;
        height: 11em;
        top: 60%;
    }
    #icons {
        display: inline;
        text-align: center;
    }
    .project-buttons-container {
        display: none;
    }
    .project-buttons {
        width: 100%;
    }
    #projects-container {
        width: 90%;
    }
    .project-boxes {
        width: 12em;
        height: 12em;
        display: inline-block;
        text-align: center;
    }
    .project-boxes h3:hover {
        background: transparent;
        opacity: 0;
    }
/*
    .nonhover-project-description {
        display: inline;
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
    }
    .nonhover-project-description h3 {
        font-size: 1.3em;
        font-weight: 400;
        color: white;
        height: 100px;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
    .nonhover-project-description .view {
        font-size: 0.9em;
        font-weight: 300;
    }
*/
    #placeholder {
        display: none;
    }
    #copyright {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #copyright p {
        color: black;
    }
}

/*LANDSCAPE*/
@media only screen and (orientation: landscape) and (max-device-width: 800px) {
/*@media screen and (max-width: 800px) {*/
	body { 
		font-size: 110%;
        height: 100%;
	}
	#left-side {
        width: 55%;
        float: left;
        position: relative;
    }
    #name {
        top: -3em;
    }
    #links {
        top: 60%;
    }
    #social {
        position: relative;
        top: -24em;
        right: 0;
        float: right;
        width: 45%;
        clear: both;
    }
    #icons {
        text-align: right;
    }
	.social_icon img {
		max-width: 3em;
		max-height: 3em;
	} 
    .down-arrow {
        display: none;
    }
	#projects {
        width: 100%;
		height: 100%;
	}
    .project-boxes {
        width: 20em;
        height: 20em;
    }
    #placeholder {
        display: inline-block;
    }
    footer {
        top: -35em;
    }
}
