/*CSS RESET TAKEN FROM: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


html, body {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgba(18,22,30, 1);
	position: absolute;
	right: 0;
	height: 100%;
	width: 100%;
	font-size: 100%;
    font-family: 'Lato', sans-serif;
}
#homepage {
	height: 100%;
	width: 80%;
	margin: 0 auto;
}
#name {
	color: black;
   	position: absolute;
   	top: 20%;
   	left: 5%;
	margin: 0 auto;
	height: auto;
	width: 50%;
	float: left;
}

#name h1 {
	color: rgba(250,250,250,0.6);
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 8em;
    margin: 0 auto;
}
#headshot {
	position: absolute;
   	top: 8%;
   	left: 38%;
}
#headshot img{
	max-width: 70%;
	float: right;
}
#icons {
	position: relative;
	text-align: center;
	position: absolute;
	bottom: 7.5em; /*120px*/
	left: 0;
	right: 0;
}
.social_icon {
	display: inline-block;
	position: relative;
  	top: 30%;
  	padding-left: 0.625em; /*10px */
	padding-right: 0.625em;
}
.social_icon img{
	height:auto; 
	width:auto; 
	max-width: 3.125em; /*50px*/
	max-height: 3.125em;
	border-radius: 6.25em; /*100px*/
}
#links {
	padding-top: 50px;
	text-align: center;
    text-transform: uppercase;
    height: auto;
    position: absolute;
    bottom: 1.875em; /*30px*/
    left: 0;
    right: 0;
}

#links li {
	display: inline-block;
	font-size: 1.2em; 
	font-family: 'Lato', sans-serif;
	font-weight: 300;
    text-align: center;
    color: rgba(250,250,250,0.6);
}
#links a {
	text-decoration: none;
	color: #f99926;
	opacity:0.6;
    transition: 0.3s linear all;
}

#links a:hover { 
	color: #f99926; 
	opacity: 1;  
	cursor: pointer;
    transition: 0.3s linear all;
}
#projects{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: 10;
    padding-bottom: 10em;
}
#projects-container {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
.project-buttons-container {
	padding-top: 50px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
}
.project-buttons button{
	margin-right: 10px;
	margin-left: 10px;
	padding: 15px;
	width: 150px;
	border: none;
	background-color: transparent;
	color: rgba(250,250,250,0.8);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1em;
}
#All-button {
	border-bottom: 3px solid #f99926;
}
#All-button:focus {
  	outline: none;
}
#Development-button:focus {
  	outline: none;
}
#Design-button:focus {
  	outline: none;
}
#Research-button:focus {
  	outline: none;
}
.project-type {
	height: auto;
    width: 100%;
   	margin: 0 auto;
}
.project-boxes {
	height: 250px;
	width: 300px;
	display: inline-block;
	vertical-align: top;
    position:relative;
    overflow:hidden;
   	background-size: cover;
	background-position: center center;
	margin-right: -5px;
}
.view {
	font-size: 0.8em;
	color: #f99926;
	height: 250px;
	width: 300px;
}

.project-boxes h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: white;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 60%;
    transition: 0.5s linear all;
}

.project-boxes h3:hover {
	background: rgba(0,0,0,0.95);
	opacity: 1;
    transition: 0.1s linear all;
}
#enactus {
	background-image: url("images/enactus-homepage.png");
}
#actnet {
	background-image: url("images/actnet-homepage.png");
}
#termproject {
	background-image: url("images/112-termproject-homepage.png");
}
/*#avantegarde {
	background-image: url("images/avantegarde-homepage.png");
}*/
#magazine {
	background-image: url("images/unbounded-homepage.png");
}
/*#airbnb {
	background-image: url("images/airbnb-homepage.png");
}*/
#hci-research {
	background-image: url("images/ideagens-homepage.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#cisco {
	background-image: url("images/cisco-homepage.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#ooyala {
	background-image: url("images/ooyala-homepage.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#IxDS-control-redesign {
    background-image: url("images/control-redesign-homepage.png");
	background-size: fill;
	background-repeat: no-repeat;
}
#fbi-redesign {
    background-image: url("images/fbi-redesign-homepage.png");
	background-size: fill;
	background-repeat: no-repeat;
}
.work-date {
	font-size: 0.8em;
}
footer {
    position: relative;
}
#copyright {
	width: auto;
	height: 10%;
	text-align: center;
	padding-bottom: 0.3125em; /*5px*/
	padding-top: 3.125em;
    position: absolute;
    bottom: 0;
    left: 40%;
}
#copyright p {
	font-family: 'Lato', sans-serif;
	font-weight: 100;	
	font-size: 0.8em;
	color: #f99926;
}


/*MOBILE OPTIMIZE */
@media only screen and (max-device-width: 560px) {
	body { 
		font-size:90%;
	}
	#name {
		position: absolute;
		top: 15%;
		left: 25%;
	}
	#headshot {
		position: absolute;
		top: 35%;
		left: 2%;
	}
	.social_icon img {
		max-width: 6em;
		max-height: 6em;
	} 
	#links {
		padding-bottom: 1em;
	}
	#links li {
		display: inline-block;
		font-size: 2em; 
	}
	.project-buttons-container {
		display: none;
	}
	#projects {
		height: auto;
	}
	#copyright p {
		color: white;
		font-size: 1.5em;
	}
}
@media only screen and (orientation: landscape) and (max-device-width: 800px) {
	body { 
		font-size:80%;
	}
	#name {
		position: absolute;
	   	top: 20%;
	   	left: 5%;
		margin: 0 auto;
		height: auto;
		width: 50%;
		float: left;
	}
	#name h1 {
		font-size: 8em;
	}
	#headshot {
	position: absolute;
   	top: 8%;
   	left: 18%;
}
	#headshot img{
		max-width: 46%;
	}
	#icons {
		position: relative;
		text-align: center;
		position: absolute;
		bottom: 7.5em;
		left: 0;
		right: 0;
	}
	.social_icon img {
		max-width: 4em;
		max-height: 4em;
	} 
	#links {
		padding-bottom: 1em;
		position: absolute;
		bottom: 2.5em;
		left: 0;
		right: 0;
	}
	#links li {
		display: inline-block;
		font-size: 2em; 
	}
	.project-buttons-container {
		display: none;
	}
	#projects {
		height: auto;
	}
	#copyright p {
		color: white;
		font-size: 1.5em;
	}
}
