
body {
	width: 100%;
    font-size: 1em;
}
header {
	width: auto;
}
header .goback {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}
header .back-button {
	width: auto;
}
header .back-button div {
	opacity: 0.6;
}
header .back-button:hover{
	opacity: 1;
}
header a {
    text-decoration: none;
    outline: none;
}

header .back-button h1{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
    color: black;
	text-align: center;
	font-size: 1.25em;
	margin-left: -0.6em;
}
header .back-button img{
	max-width: 50px;
	max-height: 50px;
}

.project-body {
	width: 60%;
	height: auto;
	margin: 0 auto;
	margin-top: -3.75em;
}
.main-picture {
	height: auto;
	width: 100%;
	margin: 0 auto;
}
.project-info {
    position:relative;
    overflow:hidden;
    text-align: center;
}
.project-info h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #f99926;
	text-align: center;
	font-size: 1.9em;
}
.project-info h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #f99926;
	opacity: 0.6;
	text-align: center;
	font-size: 1.2em;
	margin-top: -1em;
	padding-bottom: 0.6em;
}
.project-info ul {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
    color: black;
	opacity: 0.6;
	text-align: center;
	font-size: 1.125em;
	padding-bottom: 0.6em;
}
.project-info li {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
    color: black;
	text-align: center;
	font-size: 1.125em;
}
.project-info img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding-bottom: 1.25em;
}
.project-info p {
	color: white;
    color: black;
	opacity: 0.6;
}
.project-description {
	font-family: 'Lato', sans-serif;
	color: white;
    color: black;
	opacity: 1;
	font-size: 1.125em;
	width: 100%;
}
.project-description-container {
	width: 60%;
	text-align: center;
}
.project-description img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.project-description a {
	color: #f99926;
	text-decoration: none;
}
.project-description h3 {
	padding-top: 1.5em;
	padding-bottom: 0.6em;
	font-weight: 300;
}
.project-description p {
	font-weight: 300;
}
.work-samples img{
	width: 100%;
}

/*TABLET SIZE DESKTOP*/
@media screen and (max-width: 768px) {
    body {
        font-size :100%;
    }
    .project-body {
        width: 80%;
    }
    .project-info h1 {
        margin-top: 2em;
    }
    footer {
        top: 0;
    }
}

/*TABLET DEVICE*/
@media only screen and (max-device-width: 768px) {
    body {
        font-size :150%;
    }
    .project-body {
        width: 80%;
    }
    .project-info h1 {
        margin-top: 2em;
    }
    footer {
        top: 0;
    }
}


/*PHONE SIZE DESKTOP*/
@media screen and (max-width: 500px) {
    body {
        font-size: 100%;
    }
    footer {
        top: -70em;
    }
}

/*PHONE DEVICE*/
@media only screen and (max-device-width: 500px) {
    body {
        font-size: 200%;
    }
    footer {
        top: -70em;
    }
}



