
#termproject112-date {
	width: 15%;
	height: 100%;
	position: relative;
}
#termproject112-main-picture-container {
	width: 70%;
	height: auto;
	text-align: center;
}
.termproject112-project-picture img{
	width: 60%;
	position: relative;
	border: 1px solid black;
}

.termproject112-project-picture img:hover {
	cursor: pointer;
}
.project-description {
	clear: both;
	width: 100%;
	padding-top: 20px;
}
#termproject112-project-description-container p {
	font-family: OpenSansLight;
	font-size: 20px;
	color: #606060;

}
#termproject112-project-description-container a {
	text-decoration: none;
	color: #f99926;
}
