
#airbnb-date {
	width: 15%;
	height: 100%;
	position: relative;
}
#airbnb-main-picture-container {
	width: 70%;
	height: auto;
	text-align: center;
}
.airbnb-project-picture img{
	width: 80%;
	position: relative;
}

.airbnb-project-picture img:hover {
	cursor: pointer;
}
.project-description {
	clear: both;
	width: 100%;
	padding-top: 20px;
}
#airbnb-project-description-container p {
	font-family: OpenSansLight;
	font-size: 20px;
	color: #606060;

}
#airbnb-project-description-container a {
	text-decoration: none;
	color: #f99926;
}
